* {

  box-sizing: border-box;

}

body {

  font-family: 'Open Sans', sans-serif;

  background: linear-gradient(120deg, white, khaki);

}

a {

  color: red;

}

a:visited {

  color: red;

      }   

a:hover {

  color: red;

      }
	  
	  ul {

  list-style: none;

  padding: 0;

  margin: 0;

}

   

.container {

  padding-left: 5px;

  padding-right: 5px;

  margin-left: auto;

  margin-right: auto;

  margin-top: -70px;

}

@media (min-width: 780px) {

  .container {

    width: 760px;

  }

}



@media (min-width: 992px) {

  .container {

    width: 970px;

  }

}



@media (min-width: 767px) {

  .container {

    width: 1170px;

  }

}

      

.flat-page header {

  min-height: 80px;

  display: flex;

}

      

@media (max-width: 767px) {

  .flat-page header {

    min-height: auto;

    display: initial;

  }

}

      

.flat-page header .container {

  display: flex;

  align-items: center;

  justify-content: space-between;

}

      

@media (max-width: 767px) {

  .flat-page header .container {

    flex-direction: column;

    justify-content: center;

  }

}

.flat-page header .links {

  display: flex;

  align-items: center;

}

      

@media (max-width: 900px) {

  .flat-page header .links {

    text-align: center;

    gap: 20px;

  }

}

.flat-page header .links li {

  margin-left: 10px;

  color: blue;

  cursor: pointer;

  transition: .3s;

}

@media (max-width: 900px) {

  .flat-page header .links li {

    margin-left: auto;

  }

}

.flat-page header .links li:last-child {

  border-radius: 20px;

  padding: 10px 20px;

  color: #FFF;

  background-color: blue;

}

.flat-page .content .container {

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 140px;

  min-height: calc(100vh - 80px);

}

      

@media (max-width: 767px) {

  .flat-page .content .container {

    gap: 0;

    min-height: calc(100vh - 101px);

    justify-content: center;

    flex-direction: column-reverse;

  }

}

      

@media (max-width: 767px) {

  .flat-page .content .info {

    text-align: center;

    margin-bottom: 15px 

  }

}

.flat-page .content .info h1 {

  color: black;

  font-size: 38px;

}

.flat-page .content .info p {

  margin: 0;

  line-height: 1.6;

  font-size: 15px;

  color: black;

}

.flat-page .content .info button {

  border: 0;

  border-radius: 20px;

  padding: 12px 30px;

  margin-top: 30px;

  cursor: pointer;

  color: #FFF;

  background-color: blue;

  box-shadow: 0px 4px 8px black;

}

.flat-page .content .image img {

  max-width: 120%;

  margin-top: 50px;

}

nav {

    margin: 0 auto;

    margin-top: 3em;

    width: 1083px;

  margin-left: -20px;

}



nav ul {

  text-align: left;

  display: inline;

  margin: 0;

  padding: 1em 1em 1em 0;

  list-style: none;

}



nav ul li {

  display: inline-block;

  margin-right: .01em;

  position: relative;

  -webkit-transition: all 0.2s;

  -moz-transition: all 0.2s;

  -ms-transition: all 0.2s;

  -o-transition: all 0.2s;

  transition: all 0.2s;

  border-radius: 30px 30px 30px 30px;

  padding: 1em 2em;

  background: #6c63ff; 

  line-height: 0.8;

  box-shadow: 0px 4px 8px lightgreen;

  width: 10em;

}

nav li a {

      padding-bottom: 1em;

      text-decoration: none;

      cursor: pointer;

      font-size: 14px;

      padding: 21px;

      text-decoration: none;

      font-weight: bold;

      font-family: 'Roboto', sans-serif;

      color: blue; 

}

nav ul li:hover {

  background: blue;

}

nav ul li ul {

  padding: 0;

  position: absolute;

  top: 3.5em;

  left: 0;

  width: 16em;

  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;

  display: none;

  opacity: 0;

  visibility: hidden;

  -webkit-transiton: opacity 0.2s;

  -moz-transition: opacity 0.2s;

  -ms-transition: opacity 0.2s;

  -o-transition: opacity 0.2s;

  -transition: opacity 0.2s;

}

nav ul li ul li { 

  background-color: blue;

  display: block; 

  color: #ffffff;

  text-shadow: 0 1px 0 #000; 

  top: -0.5em;

}

nav ul li ul li:hover { 

background-color: blue;

}

nav ul li:hover ul {

  display: block;

  opacity: 1;

  visibility: visible;

}

#wrapper {

      margin: 0 auto;

      width: 100%; 

      text-align: center; 

}